.background{
    background: linear-gradient(180deg, rgb(66, 0, 128), rgb(137, 30, 224));
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.container_background{
    height: 70vh;
    width: 80vw;
    align-items: center;   
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    content: '';
    background-color: transparent;   
    border: 2px solid rgb(45, 38, 46); 
    
}    


.container{
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    height: 70vh;
    width: 80vw;
    align-items: center;   
    box-shadow: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    backdrop-filter: blur(2px);  

}
.container1{
    position: absolute;
    height: 70vh;
    width: 60vw;
    align-items: center;   
    box-shadow: 20px;
    display: flex;
}
.welcome{
    justify-content: center;
    position: absolute;
    top: 15vh;
    left: 0vw;
    font-family: satoshi;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.welcome:hover{
    color: rgb(89, 0, 166);
    transition: 0.5s ease-in-out;
    background: linear-gradient(to right, rgb(137, 32, 234), rgb(210, 138, 246), rgb(255, 182, 255), rgb(255, 225, 255), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.about_us{
    color:white;
    font-family: satoshi;
    left: 0vw;
    position: absolute;
    margin-top: 3rem;
}
.sign_up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 29vw;
    height: 25rem;
    width: 35vw;
    background-color: rgba(181, 118, 253, 0.1);
    backdrop-filter: blur(0.1);
    border-radius: 0.5em;
    flex-wrap: wrap;    
}
.circle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 18.5rem;
    height: 22rem;
    border-radius: 0.5rem;
    border: 0.01rem solid rgb(190, 130, 254);
    position: absolute;
}
.sign_up:hover{
    background-color: rgba(164, 103, 255, 0.09);    
}
.heading{
    color: white;
    font-family: satoshi;
    position: absolute;
    top: 2rem;
    font-weight: bold;
}
.username{
    font-family: satoshi;
    color: white;
    position: absolute;
    top: 6rem;
    font-weight: bold;

}
.input1:hover{
    cursor: pointer;
}
.input1{
    border-radius: 0.5rem;
    border: none;
    width: 15rem;
    padding: 0.6rem;
    position: absolute;
    top: 8.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.password{
    font-family: satoshi;
    color: white;
    position: absolute;
    top: 11.5rem;
    font-weight: bold;
}
.input2:hover{
    cursor: pointer;
}
.input2{
    border-radius: 0.5rem;
    border: none;
    width: 15rem;
    padding: 0.6rem;
    position: absolute;
    top: 14rem;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
button{
    position: absolute;
    top: 18.5rem;
    padding: 0.5rem;
    background: linear-gradient(45deg,rgb(32, 0, 62), rgb(121, 1, 181), rgb(214, 71, 214), rgb(123, 3, 193));
    width: 10rem;
    border: none;
    border-radius: 0.4rem;
    color: white;
    font-family: satoshi;
}
button:hover{
    cursor: pointer;
}
input::placeholder{
    color: white;
    opacity: 0.8;
    font-style: italic;
}
.sign_up:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    box-shadow: 0, 4px, 4px rgba(255, 255, 255, 0.4);
}
