body{
    background-color:  rgb(16, 8, 34);
    width: 100vw;
    height: 25vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container1{
    background: rgba(187, 0, 255, 0.8);
    width: 10vw;
    height: 10vw;
    border: none;
    opacity: 0.3;
    backdrop-filter: blur(20px);
    border-radius: 20vw;
    box-shadow: 0 0 10rem 5rem rgba(187, 0, 255, 1);

}
.container1_blur{
    background: rgba(255, 0, 247, 0.8);
    width: 10vw;
    height: 10vw;
    border: none;
    left: 10vw;
    top: 10vw;
    opacity: 0.3;
    backdrop-filter: blur(20px);
    border-radius: 20vw;
    box-shadow: 0 0 10rem 5rem rgb(255, 0, 225);
    position: absolute;

}

    /* box-shadow: 0 0 10rem 5rem rgb(255, 14, 14); */
/* .container1{
    background-image: url(blur.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(87, 82, 90, 0.2);
    width: 100%;
    height: 61vw;
    border-radius: 2vw;
    position: absolute;
    top: 0rem;
    border: 0.01px solid white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: -1;
    overflow: hidden;
} */
.container {
    width: 100%;
    height: 61vw;
    border-radius: 2vw;
    position: absolute;
    top: 0vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
} 

nav{
    position: absolute;
    top: 0vw;
    width: 99vw;
    height: 4vw;
    border-radius: 1.5vw;
    display: flex;
    flex-wrap: wrap;
}
.home{
    color: white;
    position: absolute;
    font-family: satoshi light;
    top: 2.01vw;
    left: 20vw;
    font-size: 0.7vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.2rem;
}
.about{
    color: white;
    position: absolute;
    font-family: satoshi light;
    top: 2.01vw;
    left: 25vw;
    font-size: 0.7vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.2rem;

}
.services{
    color: white;
    position: absolute;
    font-family: satoshi light;
    top: 2.01vw;
    left: 30vw;
    font-size: 0.7vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.2rem;

}
.works{
    color: white;
    position: absolute;
    font-family: satoshi light;
    top: 2.01vw;
    left: 35vw;
    font-size: 0.7vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.2rem;

    
}
.contacts{
    color: white;
    position: absolute;
    font-family: satoshi light;
    top: 2.01vw;
    left: 40vw;
    font-size: 0.7vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.2rem;

}
.design{
    background: linear-gradient(45deg, rgb(104, 60, 249), rgb(190, 68, 255), rgb(238, 197, 234));
    width: 2vw;
    position: absolute;
    height: 5.5vw;
    left: 14.5vw;
    top: 15.9vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.design2{
    background-color: rgb(255, 255, 255);
    width: 0.1vw;
    position: absolute;
    height: 3vw;
    left: 14.5vw;
    top: 27.5vw;
}
.box{
    position: absolute;
    left: 14.5vw;
    top: 40vw;
    padding: 1vw;
    border-radius: 0.2rem;
    color: white;
    font-family: satoshi light;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8vw;
    background-color: rgb(171, 171, 171, 0.1);
}
.web_info{
    background-color:rgb(171, 171, 171, 0.1);
    position: absolute;
    width: 23vw;
    height: 8vw;
    left: 55vw;
    justify-content: center;
    top: 39vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 0.2rem;
}
.web_info_glow{
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 65vw;
    justify-content: center;
    top: 36vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 50rem;
    background: linear-gradient(45deg, rgb(170, 124, 255), rgb(231, 137, 255));
    box-shadow: 0 0 25px 6px #b294ff80;

}
    
.web_info_glow1{
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 60vw;
    justify-content: center;
    top: 36vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 50rem;
    background: linear-gradient(45deg, yellow, rgb(255, 162, 0));
    box-shadow: 0 0 25px 6px #ffdd0080;

}
.web_info_glow2{
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 70vw;
    justify-content: center;
    top: 36vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 50rem;
    background: linear-gradient(45deg, red, rgb(247, 111, 111));
    box-shadow: 0 0 25px 6px #ff454580;}

.web_info h4{
    color: rgb(188, 218, 255);
    font-family: satoshi;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0vw;
    top: 0vw;
    font-size: 0.9vw;
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    opacity: 0.5;
    backdrop-filter: blur(2px);
}
.web{
    position: absolute;
    width: 50vw;
    height: 40vw;
    left: 45vw;
    background-image: url(3dlogo.png);
    justify-content: center;
    top: 2vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    z-index: 2;
} 
.web1{
    position: absolute;
    width: 10vw;
    height: 10vw;
    left: 65vw;
    top: 16vw;
    border-radius: 10vw;
    z-index: 1;
    box-shadow: 0 0 200px 20px rgb(226, 95, 255);
}
.web:hover{
    transform: scale(110%);
    transition: 1s;
}
.dot1{
    position: absolute;
    width: 5vw;
    height: 5vh;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    left: 2.5vw;
}
.dot2{
    position: absolute;
    width: 5vw;
    height: 5vh;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    left: 2.5vw;
    top: 24vw;
}
.dot3{
    position: absolute;
    width: 5vw;
    height: 5vh;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    left: 2.5vw;
    top: 8vw;
}
.dot4{
    position: absolute;
    width: 5vw;
    height: 5vh;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    top: 8.5vw;
    right: 1vw;
}
.dot5{
    position: absolute;
    width: 5vw;
    height: 5vh;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    top: 11vw;
    right: 1vw;
    
}
.dot6{
    position: absolute;
    width: 5vw;
    height: 5vh;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    top: 40vw;
    right: 1vw;
    
}

.about_us{
    position: absolute;
    width: 100%;
    height: 60vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    top: 59.5vw;
}
.logo{
    width: 10vw;
    height: 10vw;
    top: 0vw;
    position: absolute;
    background-image: url(3dlogo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}
.logo1{
    width: 2vw;
    height: 2vw;
    top: 3vw;
    z-index: 1;
    position: absolute;
    background-color: red;
    box-shadow: 0 0 100px 50px rgba(201, 151, 242, 0.1);
}
.text{
    color: white;
    font-family: satoshi;
    text-align: center;
    top: 15.5vw;
    position: absolute;
    width: 40vw;
    left: 15.5vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.motto{
    position: absolute;
    left: 0.2vw;
    top: 0vw;
    margin-top: 1vw;
    font-size: 1vw;
    color: rgb(255, 242, 242);

}
.brand_name{
    position: absolute;
    left: 0.2vw;
    font-size: 4vw;
    top: 0vw;
    margin-top: 2vw;
    font-family: wagen;
    margin-bottom: 2vw;
}
/* .brand_name1{
    position: absolute;
    left: 0.3vw;
    font-size: 3.4vw;
    top: 0.4vw;
    margin-top: 2vw;
    font-family: wagen;
    opacity: 0.05;
    margin-bottom: 2vw;

} */
.info{
    position: absolute;
    left: 0.2vw;
    top: 10.9vw;
    text-align: left;
    margin-top: 1vw;
    font-size: 1vw;
    font-family: satoshi light;
    color: rgb(252, 243, 255);
}
.text1{
    position: absolute;
    color: white;
    font-family: satoshi;
    top: 10vw;
    text-align: center;
    font-size: 1.3vw;
}
.about_box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.box1{
    position: absolute;
    background-color: rgb(171, 171, 171, 0.1);
    width: 20vw;
    height: 18vw;
    border-radius: 0vw;
    left: -35vw;
    top: -5vw;
    z-index: 2;
}
.box1:hover{
    transform: scale(105%);
    transition: 0.5s;
}
.box1 h3{
    color: white;
    font-family: satoshi;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0vw;
    top: 4.5vw;
    font-size: 1.5vw;
    display: flex;
    flex-wrap: wrap;
}
.box1 h4{
    color: rgb(188, 218, 255);
    font-family: satoshi;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0vw;
    top: 2.5vw;
    font-size: 0.9vw;
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    opacity: 0.5;
    
}
.box1_blur{
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 20vw;
    left: -28vw;
    top: -7vw;
    z-index: 1;
    background: linear-gradient(45deg, rgb(255, 191, 0), rgb(255, 157, 0));
    box-shadow: 0 0 25px 6px #ffdd0080;
    background-image: url(c1logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box2{
    position: absolute;
    background-color: rgb(171, 171, 171, 0.1);
    width: 20vw;
    height: 18vw;
    border-radius: 0vw;
    left: -11.5vw;
    top: -5vw;
}
.box2:hover{
    transform: scale(105%);
    transition: 0.5s;
}
.box2 h3{
    color: white;
    font-family: satoshi;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0vw;
    top: 4.5vw;
    font-size: 1.5vw;
    display: flex;
    flex-wrap: wrap;
}
.box2 h4{
    color: rgb(188, 218, 255);
    font-family: satoshi;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0vw;
    top: 2.5vw;
    font-size: 0.9vw;
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    opacity: 0.5;
    text-align: center;
    
}
.box2_blur{
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 20vw;
    left: -4vw;
    top: -7vw;
    z-index: 1;
    background: linear-gradient(45deg, rgb(170, 124, 255), rgb(237, 159, 255));
    box-shadow: 0 0 25px 6px #b294ff80;
    background-image: url(clogo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.box3_blur{
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 20vw;
    left: 19vw;
    top: -7vw;
    z-index: 1;
    background: linear-gradient(45deg, red, rgb(247, 111, 111));
    box-shadow: 0 0 25px 6px #ff454580;
    background-image: url(c2logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.box3{
    position: absolute;
    background-color: rgb(186, 186, 186, 0.1);
    width: 20vw;
    height: 18vw;
    border-radius: 0vw;
    left: 12vw;
    top: -5vw;
}
.box3:hover{
    transform: scale(105%);
    transition: 0.5s;
}
.box3 h3{
    color: white;
    font-family: satoshi;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0vw;
    top: 4.5vw;
    font-size: 1.5vw;
    display: flex;
    flex-wrap: wrap;
}
.box3 h4{
    color: rgb(188, 218, 255);
    font-family: satoshi;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0vw;
    top: 2.5vw;
    font-size: 0.9vw;
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    opacity: 0.5;
    text-align: center;
    
}
.services_box{
    position: absolute;
    width: 100%;
    top: 119vw;
    height: 59vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.num1{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50px;
    left: 12.5vw;
    top: 17vw;
    color: white;
    text-align: center;
    font-family: satoshi;
    font-size: 1.2vw;
    background-image: url(star.png);
    background-position: center;
    background-size: 4vw;
    background-repeat: no-repeat;

}
/* h2{
    left: 0.88em;
    position: absolute;
    font-family: satoshi;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
} */
.num2{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50px;
    left: 41.5vw;
    top: 17vw;
    color: white;
    text-align: center;
    font-family: satoshi;
    background-image: url(star.png);
    background-position: center;
    background-size: 4vw;
    background-repeat: no-repeat;

}
.num3{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50px;
    left: 70.5vw;
    top: 17vw;
    color: white;
    background-image: url(star.png);
    background-position: center;
    background-size: 4vw;
    background-repeat: no-repeat;

}
.service_container{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 12.5vw;
    top: 23.5vw;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;  
}
.service_info{
    width: 50vw;
    height: 20vw;
    position: absolute;
    top: 5vw;
    justify-content: center;
    align-items: center;
    font-family: satoshi;
    color: white;
    text-align: center;
    font-size: 1.3vw;
}
.service1{
    background-color: rgb(205, 162, 255, 0.2);
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 20vw;
    height: 4vw;
    border: 0.1rem solid white;
    border-style: dashed;
    border-color: rgb(171, 171, 171, 0.5);
}

.service1:hover{
    transform: scale(105%);
    transition: 0.5s;
}
.service2:hover{
    transform: scale(105%);
    transition: 0.5s;
}
.service3:hover{
    transform: scale(105%);
    transition: 0.5s;
}
.service1 h5{
    font-family: satoshi light;
    position: relative;
    left: 2vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 0.9vw;
    color: rgb(241, 234, 255);
}
.service2 h5{
    font-family: satoshi light;
    position: relative;
    left: 2vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 0.9vw;
    color: rgb(241, 234, 255);
}
.service3 h5{
    font-family: satoshi light;
    position: relative;
    left: 2vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 0.9vw;
    color: rgb(241, 234, 255);
}
.service2{
    background-color: rgb(205, 162, 255, 0.2);
    position: absolute;
    top: 6vw;
    left: 0vw;
    width: 20vw;
    height: 4vw;
    border: 0.1rem solid white;
    border-style: dashed;
    border-color: rgb(171, 171, 171, 0.5);
}
.service3{
    background-color: rgb(205, 162, 255, 0.2);
    position: absolute;
    top: 12vw;
    left: 0vw;
    width: 20vw;
    height: 4vw;
    border: 0.1rem solid white;
    border-style: dashed;
    border-color: rgb(171, 171, 171, 0.5);
}
.services_box2{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 41.5vw;
    top: 23.5vw;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;  

}
.services_box3{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 70.5vw;
    top: 23.5vw;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;  

}
.works_tab{
    position: absolute;
    width: 100%;
    top: 178.5vw;
    height: 59vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contacts_tab{
    position: absolute;
    width: 100vw;
    height: 20vw;
    top: 238vw;
    height: 59vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}
.work1{
    background-color: red ;
    position: absolute;
    width: 20vw;
    height: 25vw;
    left: 15vw;
    border-radius: 0rem;
    background-image: url(Diginovate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.work1:hover{
    transform: scale(120%);
    transition: 0.5s;
}
.works_info h3{
    font-size: 2vw;

}
.work1_info{
    position: absolute;
    width: 20vw;
    height: 4vw;
    left: 0vw;
    top: 28vw;
    
}
.work1_info h5{
    font-family: satoshi light;
    position: relative;
    left: 2vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 1vw;
    color: rgb(241, 234, 255, 0.6);
    font-style: italic;
}
.work2{
    background-color: red ;
    position: absolute;
    width: 20vw;
    height: 25vw;
    left: 40vw;
    border-radius: 0rem;
    background-image: url(mockup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -2vw;
}
.work2:hover{
    transform: scale(120%);
    transition: 0.5s;
}
.work2_info{
    position: absolute;
    width: 20vw;
    height: 4vw;
    left: 0vw;
    top: 28vw;
}
.work2_info h5{
    font-family: satoshi light;
    position: relative;
    left: 2vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 1vw;
    color: rgb(241, 234, 255, 0.6);
    font-style: italic;

}
.work3{
    background-color: red ;
    position: absolute;
    width: 20vw;
    height: 25vw;
    left: 65vw;
    border-radius: 0rem;
    background-image: url(flyer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.work3:hover{
    transform: scale(120%);
    transition: 0.5s;
}
.work3_info{
    position: absolute;
    width: 20vw;
    height: 4vw;
    left: 0vw;
    top: 28vw;
}
.work3_info h5{
    font-family: satoshi light;
    position: relative;
    left: 2vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 1vw;
    color: rgb(241, 234, 255, 0.6);
    font-style: italic;
}
.works_info{
    position: absolute;
    color: white;
    top: 5vw;
    font-size: 2.5vw;
    font-family: satoshi;
}
.socials{
    position: absolute;
    background-color: rgba(66, 66, 66, 0.2);
    width: 100%;
    height: 30vw;
    bottom: 0vw;
}
.socials1{
    width: 20vw;
    height: 20vw;
    top: 5.5vw;
    position: absolute;
    left: 10vw;
}
.socials1 h3{
    font-family: satoshi;
    position: relative;
    left: 10vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 0.9vw;
    color: rgb(241, 234, 255);
}
.socials1 h5{
    font-family: satoshi light;
    position: relative;
    left: 10vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 0.9vw;
    color: rgb(241, 234, 255);
    opacity: 0.5;
}
.socials2{
    width: 20vw;
    height: 20vw;
    top: 5.5vw;
    position: absolute;
    left: 45vw;
}
.socials2 h5{
    font-family: satoshi light;
    position: relative;
    left: 0vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 0.9vw;
    opacity: 0.5;
    color: rgb(241, 234, 255);
}
.socials2 h3{
    font-family: satoshi;
    position: relative;
    left: 0vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 0.9vw;
    color: rgb(241, 234, 255);
}
.socials3{
    width: 20vw;
    height: 20vw;
    top: 5.5vw;
    position: absolute;
    left: 75vw;
}
.socials3 h5{
    font-family: satoshi light;
    position: relative;
    left: 0vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 0.9vw;
    color: rgb(241, 234, 255);
    opacity: 0.5;

}
.socials3 h3{
    font-family: satoshi;
    position: relative;
    left: 0vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 0.9vw;
    color: rgb(241, 234, 255);
}
.email{
    position: absolute;
    width: 20vw;
    height: 20vw;
    top: 4vw;
    border: 0.1rem solid rgba(194, 194, 194, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.username{
    position: absolute;
    width: 40vw;
    height: 3vw;
    top: 2vw;
    left: 4.3vw;
    justify-content: center;
    align-items: center;
}
.username input{
    background-color: rgb(171, 171, 171, 0.1);
    border: none;
    padding: 0.5vw;
    color: white;
    left: 2vw;
    width: 10vw;
}

.email_address{
    position: absolute;
    width: 40vw;
    height: 3vw;
    top: 6vw;
    left: 4.3vw;
}
.email_address input{
    background-color: rgb(171, 171, 171, 0.1);
    border: none;
    padding: 0.5vw;
    color: white;
    width: 10vw;


}
.message{
    position: absolute;
    width: 40vw;
    height: 7vw;
    top: 10vw;
    left: 4.3vw;
}
.message input{
    background-color: rgb(171, 171, 171, 0.1);
    border: none;
    padding: 3vw;
    justify-content: center;
    position: absolute;
    left: 0vw;
    color: white;
    width: 5vw;
    height: 0vw;
    flex-wrap: wrap;
    display: flex;

}
.contact_heading{
    width: 20vw;
    height: 10vw;
    position: absolute;
    top: -8vw;
    font-size: 1vw;
}
.contact_heading h3{
    font-family: satoshi;
    position: absolute;
    left: 5vw;
    align-items: center;
    justify-content: center;
    top: 0.1vw;
    font-size: 0.9vw;
    color: rgb(241, 234, 255);
    font-size: 2vw;
}
.email_container{
    position: relative;
    width: 20vw;
    height: 20vw;
    top: 0vw;
}
.footer{
    position: absolute;
    width: 30vw;
    height: 5vw;
    top: 20vw;
    right: 10vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
.pinterest{
    width: 2vw;
    height: 2vw;
    border-radius: 10vw;
    background-image: url(pinterest.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
}
.instagram{
    width: 2vw;
    height: 2vw;
    border-radius: 10vw;
    background-image: url(instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    right: 0.7vw;
    position: relative;
}
.social_name{
    font-family: satoshi light;
    color: rgb(195, 195, 195);
    left: -0.5vw;
    position: relative;
    font-size: 0.7vw;
}